.dial {
  height: 400px;
  width: 400px;
}

.timer {
  position: relative;
  display: inline-block;
}

.timer-image {
  background-image: url('https://i.postimg.cc/nr8ZcryC/43e97ea8100bd47c7a2fec610f8e8ca9.jpg');
  background-size: cover;
}

.timer-input {
 
  background:none ;
}

.timer-button {
  background:none;
}

* {
  font: inherit;
}

body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  background: url('https://i.ebayimg.com/images/g/kawAAOSwJbVeZYzs/s-l1600.jpg');
  background-size: contain;
  height: 100vh;
}

.timer input {
  display: block;
  border: none;
  width: 240px;
  font-size: 64px;
  text-align: center;
}

.timer button {
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.timer button:focus {
  outline: none;
}

.timer input:focus {
  outline: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
